#gameOverField {
  border: darkgreen solid 7px;
  text-align: center;
  background-color: #A6CB45;
  color: #FEFCD7;
  padding: 3%;
  width: 95%;
  margin-left: 8%;
  height: 25em;
}
#gameEnd {
    text-align: center;
    margin: 0 auto;
}
a {
    cursor: pointer;
    text-decoration: underline;
    color:  darkgreen
}
