#logIn {
  border: black solid 2px;
  width: 30%;
  height: 7em;
  text-align: center;
  padding: 1%;
  background-color: cornflowerblue;
  color: #FFF;
}
button {
  margin: 2%;
}
div {
  margin: 2%;
}
#greeting{
  font-size: medium;
}
