* {
  font-family: 'Tillana', cursive;
}
body {
    background-image: url("http://cdn.grid.fotosearch.com/CSP/CSP992/k14535246.jpg");
    background-size: inherit;
}
.main {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
